<tr>
  <td><%= link_to "View", {controller: "books", action: "show", isbn: book.isbn}, class: "btn btn-info"%></td>
  <td><%= book.title %></td>
  <% author = get_author(book.isbn)%>
  <td><%= "#{author.first_name} #{author.middle_name} #{author.last_name} #{author.alt_last_name}" unless author.nil? %></td>
  <td><%= get_publisher(book.isbn).pub_name unless get_publisher(book.isbn).nil? %></td>
  <td><%= get_category(book.isbn) unless get_category(book.isbn).nil? %></td>
  <td><%= book.price %></td>
  <td><%= button_to "Add to Cart", shopping_carts_add_path(:isbn => book.isbn, :user_id => current_user.id), class: 'btn btn-warning'%></td>
</tr>
