<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{yield(:title)} | Bits+Books" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <%= render 'layouts/header'%>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="container-fluid body-margin">
      <%= yield %>
    </div>

    <div class="container-fluid">
      <%= render 'layouts/footer'%>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
